.popup__input-error {
  width: 100%;
  height: 30px;
  border: 0;
  color: #f00;
  font-size: 12px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
  
@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 10px;
  }
} 